@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Outfit:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Outfit;
}

#root {
    min-height: 100vh;
    display: flex;
    animation: fadeIn 1.5s;
}

body {
    #App {
        display: flex;
        width: 100%;

        &.original {
            background: -webkit-linear-gradient(60deg,#565bf3,#ff5546);
        }

        &.dark {
            background-color: gray;
        }

        &.light {
            background-color: white;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes loader {
    0% {
        background-position: -800px 0px;
    }
    100% {
        background-position: 800px 0px;
    }
}